body{
     color:bisque;
     background: lightblue;
margin: 0px;
font-family: Georgia, 'Times New Roman', Times, serif;


}
header{ 
border-bottom: solid 2px rgb(lightblue, green, blue);
padding: 20px;
font-size: 32px;
color: rbd lightblue;

}
.chamada {
     background-color: rgb(149, 203, 228);
     padding-bottom: 80px;
     padding-top: 80px;
     display: flex;
     justify-content: center;
}

.chamada-texto{
     margin-right: 5%;
}

h1{font-size: 40px;

}
p{font-size: 20px;

}
img{
     height: 200px;

}
.categoria-videos{
     display: flex;
     overflow: auto;
     gap: 10px;

}
.categoria{
     padding-left: 20px;
     padding-right: 20px;
     
}